:root{
    --color-Dark-Pink: #BA4270;
    --color-Link-Water-White: #E1E1E1;
    --color-San-Juan-Blue: #36536B;
    --color-Mirage-Blue: #1B262F;
    --color-Charm-Pink: #DA6D97;
    --color-Light-San-Juan-Blue: #1B262F;
    --color-Mirage-Blue: #6C8294;
}